<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:sec="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd">

    <sec:http auto-config="false"  use-expressions="true">
        <sec:intercept-url pattern="/overview" access="isAuthenticated()" />
        <sec:intercept-url pattern="/program" access="isAuthenticated()" />
        <sec:intercept-url pattern="/program/create-program" access="isAuthenticated()" />
        <sec:intercept-url pattern="/expense" access="isAuthenticated()" />
        <sec:intercept-url pattern="/reports" access="isAuthenticated()" />
        <sec:intercept-url pattern="/system-maintenance" access="isAuthenticated()" />
        <sec:intercept-url pattern="/report" access="isAuthenticated()" />
        <sec:form-login  login-page="/login"
                     username-parameter="username"
                     authentication-failure-url="/login/access-denied"
                     default-target-url="/overview"/>
        <sec:csrf disabled="true"/>
        <sec:logout logout-url="/logout" logout-success-url="/login?login_response=success_logout&amp;error=false"></sec:logout>
    </sec:http>

    <bean id="passwordEncoder"
          class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
    </bean>

    <sec:authentication-manager >
        <sec:authentication-provider ref="loginController">
<!--
            <sec:password-encoder ref="passwordEncoder" />
-->
        </sec:authentication-provider>
    </sec:authentication-manager>

    <bean id="loginController" class="org.ohf.controller.LoginController" />

    <bean id="authorities" class="org.springframework.beans.factory.config.MapFactoryBean">
        <property name="sourceMap">
            <map>
                <entry key="ACCESS_OVERVIEW_TAB">
                    <value>01.00.00.00.00@Access Overview Tab</value>
                </entry>
                <entry key="VIEW_ALL_PROGRAM_EXPECTED">
                    <value>01.01.00.00.00@View All Program (Expected)</value>
                </entry>
                <entry key="VIEW_ALL_PROGRAM_ACTUAL">
                    <value>01.02.00.00.00@View All Program (Actual)</value>
                </entry>
                <entry key="VIEW_ACTIVITIES_EXPECTED">
                    <value>01.03.00.00.00@View Activities (Expected)</value>
                </entry>
                <entry key="VIEW_ACTIVITIES_ACTUAL">
                    <value>01.04.00.00.00@View Activities (Actual)</value>
                </entry>

                <entry key="ACCESS_PROGRAM_TAB">
                    <value>02.00.00.00.00@Access Program Tab</value>
                </entry>
                <entry key="VIEW_PROGRAM_TABLE">
                    <value>02.01.00.00.00@View Programs</value>
                </entry>
                <entry key="DELETE_EXISTING_PROGRAM">
                    <value>02.01.01.00.00@Delete Existing Programs</value>
                </entry>
                <entry key="VIEW_SPECIFIC_PROGRAM">
                    <value>02.01.02.00.00@View Specific Programs</value>
                </entry>
                <entry key="VIEW_PROGRAM_DASHBOARD">
                    <value>02.01.02.01.00@View Program Dashboard</value>
                </entry>
                <entry key="VIEW_PROGRAM_ACTIVITY">
                    <value>02.01.02.02.00@View Program Activities</value>
                </entry>
                <entry key="VIEW_PROGRAM_CREATE_ACTIVITY">
                    <value>02.01.02.02.01@Add New Activity To Program</value>
                </entry>
                <entry key="VIEW_PROGRAM_DELETE_ACTIVITY">
                    <value>02.01.02.02.02@Delete Program's Activity</value>
                </entry>
                <entry key="VIEW_PROGRAM_UPDATE_ACTIVITY">
                    <value>02.01.02.02.03@Update Program's Activity</value>
                </entry>
                <entry key="VIEW_PROGRAM_EXPENSE">
                    <value>02.01.03.00.00@View Program Expense</value>
                </entry>
                <entry key="CREATE_PROGRAM">
                    <value>02.02.00.00.00@Create New Program</value>
                </entry>

                <entry key="ACCESS_EXPENSE_TAB">
                    <value>03.00.00.00.00@Access Expense Tab</value>
                </entry>
                <entry key="VIEW_VOUCHER_TABLE">
                    <value>03.01.00.00.00@View Vouchers</value>
                </entry>
                <entry key="DELETE_VOUCHER">
                    <value>03.01.01.00.00@Delete Existing Voucher</value>
                </entry>
                <entry key="VIEW_VOUCHER_UPDATE">
                    <value>03.01.02.00.00@Update Existing Voucher</value>
                </entry>
                <entry key="VIEW_VOUCHER_UPDATE_ADD_PARTICULAR">
                    <value>03.01.02.01.00@Add New Particular to Voucher</value>
                </entry>
                <entry key="VIEW_VOUCHER_UPDATE_UPDATE_PARTICULAR">
                    <value>03.01.02.02.00@Update Particular of Voucher</value>
                </entry>
                <entry key="CREATE_VOUCHER">
                    <value>03.02.00.00.00@Create New Voucher</value>
                </entry>
                <entry key="CREATE_VOUCHER_ADD_PARTICULAR">
                    <value>03.02.01.00.00@Add New Particular On New Voucher</value>
                </entry>

                <entry key="ACCESS_REPORTS_TAB">
                    <value>04.00.00.00.00@Access Reports Tab</value>
                </entry>
                <entry key="VIEW_CASH_DISBURSEMENT_BY_DATE">
                    <value>04.01.00.00.00@View Cash Disbursement By Date Report</value>
                </entry>
                <entry key="VIEW_CASH_DISBURSEMENT_ANNUAL_ALL">
                    <value>04.02.00.00.00@View Cash Disbursement Annual All Programs Report</value>
                </entry>
                <entry key="VIEW_CASH_DISBURSEMENT_ANNUAL_PROGRAM">
                    <value>04.03.00.00.00@View Cash Disbursement Annual Per Program Report</value>
                </entry>
                <entry key="VIEW_VOUCHER_REPORT">
                    <value>04.04.00.00.00@View Voucher Code Report</value>
                </entry>
                <entry key="VIEW_EXPECTED_ACTUAL_REPORT">
                    <value>04.05.00.00.00@View Expected vs. Actual Report</value>
                </entry>

                <entry key="ACCESS_ADMIN_TAB">
                    <value>05.00.00.00.00@Access Administrative Tab</value>
                </entry>
                <entry key="ACCESS_USER_PAGE">
                    <value>05.01.00.00.00@Access User Page</value>
                </entry>
                <entry key="VIEW_USER">
                    <value>05.01.01.00.00@View Users</value>
                </entry>
                <entry key="DELETE_USER">
                    <value>05.01.01.01.00@Delete Existing User</value>
                </entry>
                <entry key="UPDATE_USER">
                    <value>05.01.01.02.00@Update Existing User</value>
                </entry>
                <entry key="CREATE_USER">
                    <value>05.01.02.00.00@Create New Users</value>
                </entry>
                <entry key="ACCESS_USER_ROLE_PAGE">
                    <value>05.02.00.00.00@Access User Role Page</value>
                </entry>
                <entry key="VIEW_USER_ROLE">
                    <value>05.02.01.00.00@View User Roles</value>
                </entry>
                <entry key="DELETE_USER_ROLE">
                    <value>05.02.01.01.00@Delete Existing User Roles</value>
                </entry>
                <entry key="UPDATE_USER_ROLE">
                    <value>05.02.01.02.00@Update Existing User Roles</value>
                </entry>
                <entry key="CREATE_USER_ROLE">
                    <value>05.02.02.00.00@Create New Users Roles</value>
                </entry>
                <entry key="ACCESS_REFERENCE_PAGE">
                    <value>05.03.00.00.00@Access Reference Page</value>
                </entry>
                <entry key="VIEW_REFERENCE">
                    <value>05.03.01.00.00@View Reference Lookup</value>
                </entry>
                <entry key="DELETE_REFERENCE">
                    <value>05.03.01.01.00@Delete Existing Reference Lookup</value>
                </entry>
                <entry key="UPDATE_REFERENCE">
                    <value>05.03.01.02.00@Update Existing Reference Lookup</value>
                </entry>
                <entry key="CREATE_REFERENCE">
                    <value>05.03.02.00.00@Create New Reference Lookup</value>
                </entry>
            </map>
        </property>
    </bean>

</beans>