/*Custom CSS for OPH Expense Tracker Application*/
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/*Header CSS style*/
#header {
  width: 100%;
  background-color: #2199e8;
  margin-bottom: 1em;
}

/*Site-content CSS Style*/
#site-content {

}

/*Create project specific CSS*/
#create-program-form-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#create-program-form-container div[id^="program"]{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease-in 300ms;
  -moz-transition: all 300ms ease-in 300ms;
  -o-transition: all 300ms ease-in 300ms;
  transition: all 300ms ease-in 300ms;
}

.progress-meter{
  width: 25%;
  -webkit-transition: all 300ms ease-in 300ms;
  -moz-transition: all 300ms ease-in 300ms;
  -o-transition: all 300ms ease-in 300ms;
  transition: all 300ms ease-in 300ms;
}

#program-details {
  left: 0;
}

#program-team {  
  left: +100%;
}

#program-activity {
  left: +200%;
}

#program-summary {
  left: +300%;
}