/*Custom CSS for OPH Expense Tracker Application*/
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/*Header CSS style*/
#header {
  width: 100%;
  background-color: #2199e8;
  margin-bottom: 1em;
}

/*Site-content CSS Style*/
#site-content {
  overflow-y:scroll;
  overflow-x:hidden;
  height:90vh;
}

/*Create project specific CSS*/
#create-program-form-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#create-program-form-container div[id^="program"]{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease-in 300ms;
  -moz-transition: all 300ms ease-in 300ms;
  -o-transition: all 300ms ease-in 300ms;
  transition: all 300ms ease-in 300ms;
}

.progress-meter{
  width: 25%;
  -webkit-transition: all 300ms ease-in 300ms;
  -moz-transition: all 300ms ease-in 300ms;
  -o-transition: all 300ms ease-in 300ms;
  transition: all 300ms ease-in 300ms;
}

#program-details {
  left: 0;
}

#program-team {  
  left: +100%;
}

#program-activity {
  left: +200%;
}

#program-summary {
  left: +300%;
}

.tabs-title {
  float: left; }
.tabs-title > a {
  display: block;
  padding: 1.25rem 1.5rem;
  line-height: 1;
  font-size: 0.75rem; }
.tabs-title > a:hover {
  background: #1583cc; } /* from #fefefe to #1583cc 20160709 JCT*/
.tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
  background: #0f598a; } /* from #e6e6e6 to #0f598a 20160709 JCT*/

table.hover tbody tr:hover {
  cursor: pointer;
  background-color:#b7cddb
}

table.hover tbody tr:nth-of-type(even):hover{
  cursor: pointer;
  background-color:#b7cddb
}

a.active-page {
  background-color:#1583cc
}

#progressbar .ui-progressbar-value {
  background-color: #ccc;
}

#expense-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#expense-container div[id^="expense"]{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease-in 300ms;
  -moz-transition: all 300ms ease-in 300ms;
  -o-transition: all 300ms ease-in 300ms;
  transition: all 300ms ease-in 300ms;
}

#expense-add {
  left: 0;
}

#expense-summary {
  left: +100%;
}
