<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Expense Tracker</title>

        <link rel="stylesheet" href="css/foundation.min.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/motion-ui.min.css">
        <link rel="stylesheet" href="css/selectize.default.css">
        <link rel="stylesheet" href="css/dropzone.css">

        <script src="js/jquery3.min.js"></script>
        <script src="js/angular.js"></script>
        <script src="js/selectize.min.js"></script>
        <script src="js/angular-selectize.js"></script>
        <script src="angular/budgetfy-angular.js"></script>
        <script src="angular/dirPagination.js"></script>
    </head>
    <body ng-app="budgetfyApp">
        <section id="header">
            <div class="row">
                <div class="small-6 columns text-left">
                    <a class="button" href="/budgetfy/program">Programs</a>
                    <a class="button active-page" href="/budgetfy/expense">Expense</a>
                    <a class="button">Reports</a>
                </div>
                <div class="small-6 columns text-right">
                    <a class="button"><i class="fa fa-cog"></i></a>
                    <a class="button"><i class="fa fa-exclamation"></i></a>
                    <a class="button"><i class="fa fa-user"></i></a>
                </div>
            </div>
        </section>

        <section id="site-content" ng-controller="voucherController">
            <div id="expense-main">
                <div class="row">
                    <div class="small-5 columns text-left">
                        <a class="button success button-press">Add Expense <i class="fa fa-plus"></i></a>
                    </div>
                    <div class="small-5 columns text-right">
                        <div class="input-group">
                            <input class="input-group-field" type="text" ng-model="voucherFilter">
                            <div class="input-group-button">
                                <input type="submit" class="button" value="Search">
                            </div>
                        </div>
                    </div>
                    <div class="small-2 columns text-right">
                        <select>
                            <option value="2016">2016</option>
                            <option value="2015">2015</option>
                            <option value="2014">2014</option>
                        </select>
                    </div>
                </div>

                <!-- Expense Table List: Start -->
                <div class="row">
                    <div class="small-12 columns">
                        <table id="voucher-result" class="hover">
                            <thead>
                            <tr>
                                <th>Voucher Number</th>
                                <th>Check Reference</th>
                                <th>Payee</th>
                                <th>Date</th>
                                <th>Total Amount</th>
                            </tr>
                            </thead>
                            <tbody ng-init="loadVoucher()">
                            <tr class="row-onclick" dir-paginate="voucher in voucherList | filter : voucherFilter | itemsPerPage: voucherMaxSize" pagination-id="voucher-list" ng-click="viewVoucher(voucher.id)">
                                <td>{{voucher.vcNumber}}</td>
                                <td>{{voucher.reference}}</td>
                                <td>{{voucher.payee}}</td>
                                <td>{{voucher.date}}</td>
                                <td>{{voucher.totalAmount}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                    <dir-pagination-controls pagination-id="voucher-list" boundary-links="true"></dir-pagination-controls>
                </ul>
            </div>
            <!-- Expense Table List: End -->
            <!-- Add Expense-->
            <div id="add-expense" class="row collapse hide">
                <div class="row">
                    <div class="small-1 columns">
                        <label class="text-right middle">Payee</label>
                    </div>
                    <div class="small-3 columns">
                        <input type="text" ng-model="createVoucher.payee">
                    </div>
                    <div class="small-4 columns">
                        <label class="text-right middle"></label>
                    </div>
                    <div class="small-1 columns">
                        <label class="text-right middle">Check/Ref#</label>
                    </div>
                    <div class="small-3 columns end">
                        <input type="text" ng-model="createVoucher.reference">
                    </div>
                </div>
                <div class="row">
                    <div class="small-1 columns">
                        <label class="text-right middle">Date</label>
                    </div>
                    <div class="small-3 columns">
                        <input type="date" ng-model="createVoucher.date" placeholder="">
                    </div>
                    <div class="small-4 columns">
                        <label class="text-right middle"></label>
                    </div>
                    <div class="small-1 columns">
                        <label class="text-right middle">VC#</label>
                    </div>
                    <div class="small-3 columns end">
                        <input type="text" ng-model="createVoucher.vcNumber">
                    </div>
                </div>
                <div class="row">
                    <div class="small-7 columns">
                        <label class="text-right middle"></label>
                    </div>
                    <div class="small-2 columns">
                        <label class="text-right middle">Total Amount</label>
                    </div>
                    <div class="small-3 columns end">
                        <input type="text" ng-model="createVoucher.totalAmount">
                    </div>
                </div>
                <div class="row">
                    <div class="small-1 columns">
                        <label class="text-right middle">Particular</label>
                    </div>
                    <div class="small-4 columns">
                        <input type="text" ng-model="addParticular.description" placeholder="">
                    </div>
                    <div class="small-2 columns">
                        <selectize config='programConfig' options='programList' ng-model="addParticular.addParticularProgramModel"></selectize>
                    </div>
                    <div class="small-2 columns">
                        <selectize config='programActivityConfig' options='programActivities' ng-model="addParticular.addParticularActivityModel"></selectize>
                    </div>
                    <div class="small-3 columns end">
                        <input type="text" ng-model="addParticular.expense">
                    </div>
                </div>
                <div class="row">
                    <div class="columns small-12">
                        <form action="/budgetfy/file/upload" method="POST" enctype="multipart/form-data" class="dropzone" id="dropZone"/>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <a class="button success" ng-click="addNewParticular()">Add Particular</a>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <table class="hover" id="particular-table">
                            <thead>
                            <tr>
                                <th>Particular Name</th>
                                <th>Program</th>
                                <th>Activity</th>
                                <th>Expense</th>
                                <th>Attachment</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="particular in newParticularList | itemsPerPage: 5" pagination-id="add-voucher-particular">
                                    <td>{{particular.description}}</td>
                                    <td>{{particular.program.programName}}</td>
                                    <td>{{particular.activity.activityName}}</td>
                                    <td>{{particular.expense}}</td>
                                    <td><a class="button success"><i class="fa fa-file-image-o" aria-hidden="true"></i></a></td>
                                    <td><a class="button alert"><i class="fa fa-minus"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                    <dir-pagination-controls pagination-id="add-voucher-particular" boundary-links="true"></dir-pagination-controls>
                </ul>
                <div class="row">
                    <div class="small-3 columns">
                        <a class="button alert float-right cancel-btn">Cancel</a>
                    </div>
                    <div class="small-7 columns end">
                        <a class="button success float-right" id="submit-form" ng-click="prepareNewVoucher()">Next</a>
                    </div>
                </div>
            </div>
            <!-- Add Expense: End -->

            <!-- Update Expense -->
            <div id="update-expense" class="row collapse hide">
                <div class="row">
                    <div class="small-1 columns">
                        <label class="text-right middle">Payee</label>
                    </div>
                    <div class="small-3 columns">
                        <input type="text" ng-model="selectedVoucher.payee">
                    </div>
                    <div class="small-4 columns">
                        <label class="text-right middle"></label>
                    </div>
                    <div class="small-1 columns">
                        <label class="text-right middle">Check/Ref#</label>
                    </div>
                    <div class="small-3 columns end">
                        <input type="text" ng-model="selectedVoucher.reference">
                    </div>
                </div>
                <div class="row">
                    <div class="small-1 columns">
                        <label class="text-right middle">Date</label>
                    </div>
                    <div class="small-3 columns">
                        <input type="date" ng-model="selectedVoucher.date" placeholder="">
                    </div>
                    <div class="small-4 columns">
                        <label class="text-right middle"></label>
                    </div>
                    <div class="small-1 columns">
                        <label class="text-right middle">VC#</label>
                    </div>
                    <div class="small-3 columns end">
                        <input type="text" ng-model="selectedVoucher.vcNumber">
                    </div>
                </div>
                <div class="row">
                    <div class="small-7 columns">
                        <label class="text-right middle"></label>
                    </div>
                    <div class="small-2 columns">
                        <label class="text-right middle">Total Amount</label>
                    </div>
                    <div class="small-3 columns end">
                        <input type="text" ng-model="selectedVoucher.totalAmount">
                    </div>
                </div>
                <div class="row">
                    <div class="small-1 columns">
                        <label for="particular-update" class="text-right middle">Particular</label>
                    </div>
                    <div class="small-4 columns">
                        <input type="text" id="particular-update" placeholder="">
                    </div>
                    <div class="small-2 columns">
                        <selectize config='programConfig' options='programList' ng-model="selectedParticular.programId"></selectize>
                    </div>
                    <div class="small-2 columns">
                        <selectize config='programActivityConfig' options='programActivities' ng-model="addParticular.addParticularActivityModel"></selectize>
                    </div>
                    <div class="small-3 columns end">
                        <input type="text" id="particular-amount-update">
                    </div>
                </div>
                <div class="row">
                    <div class="small-1 columns">
                        <a class="button success"><i class="fa fa-file-image-o" aria-hidden="true"></i></a>
                    </div>
                    <div class="small-2 columns">
                        <a class="button success">Attach Receipt</a>
                    </div>
                    <div class="small-6 columns">
                        <label class="text-right middle"></label>
                    </div>
                    <div class="small-3 columns">
                        <a class="button success">Add Particular</a>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <table class="hover" id="particular-table-update">
                            <thead>
                            <tr>
                                <th>Particular Name</th>
                                <th>Program</th>
                                <th>Activity</th>
                                <th>Expense</th>
                                <th>Attachment</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr dir-paginate="particular in selectedVoucher.particulars | itemsPerPage: 5" pagination-id="view-voucher-particular">
                                <td>{{particular.description}}</td>
                                <td>{{particular.program.programName}}</td>
                                <td>{{particular.activity.activityName}}</td>
                                <td>{{particular.expense}}</td>
                                <td><a class="button success"><i class="fa fa-file-image-o" aria-hidden="true"></i></a></td>
                                <td><a class="button alert"><i class="fa fa-minus"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                    <dir-pagination-controls pagination-id="view-voucher-particular" boundary-links="true"></dir-pagination-controls>
                </ul>
                <div class="row">
                    <div class="small-3 columns">
                        <a class="button alert float-right cancel-btn">Cancel</a>
                    </div>
                    <div class="small-7 columns end">
                        <a class="button success float-right" id="submit-update-form">Next</a>
                    </div>
                </div>
            </div>
            <!-- Update Expense: End -->
            <!-- Expense Summary: Start-->
            <div id="program-summary">
                <div class="row">
                    <h5 class="text-left"><strong>Program Summary</strong></h5>
                </div>

                <div class="row">
                    <strong>Program Details</strong>
                    <table class="hover">
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="small-6 columns">Program Name</div>
                                    <div class="small-6 columns end"><span id="program-name-summary">{{programObject.programName}}</span></div>
                                </div>
                                <div class="row">
                                    <div class="small-6 columns">Total Budget</div>
                                    <div class="small-6 columns end"><span id="total-budget-summary">{{programObject.totalBudget}}</span></div>
                                </div>
                                <div class="row">
                                    <div class="small-6 columns">Critical Level</div>
                                    <div class="small-6 columns end"><span id="threshold-summary">{{programObject.threshold}}</span></div>
                                </div>
                                <div class="row">
                                    <div class="small-6 columns">Duration</div>
                                    <div class="small-6 columns end"><span id="duration-summary">{{programObject.programStart}} to {{programObject.programEnd}}</span></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="row">
                    <strong>Particulars</strong>
                    <table>
                        <tbody id="activity-table-summary">
                        <tr ng-repeat="activity in addedActivityList">
                            <td>
                                <div class="row">
                                    <div class="small-6 columns">Activity Name</div>
                                    <div class="small-6 columns end"><span>{{activity.activityName}}</span></div>
                                </div>
                                <div class="row">
                                    <div class="small-6 columns">Total Budget</div>
                                    <div class="small-6 columns end"><span>{{activity.amount}}</span></div>
                                </div>
                                <div class="row">
                                    <div class="small-6 columns">Type</div>
                                    <div class="small-6 columns end"><span>{{activity.activityCodeName}}</span></div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="small-3 columns">
                        <a class="button alert float-right program-summary-nav-prev">Back</a>
                    </div>
                    <div class="small-7 columns end">
                        <a class="button success float-right program-summary-nav-next" id="create-program" ng-click="createProgram()">Finish</a>
                    </div>
                </div>
            </div>
            <!-- Expense Summary: End-->
        </section>

        <script src="js/vendor/what-input.js"></script>
        <script src="js/vendor/foundation.min.js"></script>
        <script src="js/evey-1.0.js"></script>
        <script src="js/motion-ui.min.js"></script>
        <script src="js/dropzone.js"></script>
        <script>
            $(document).ready(function(){
            }).on("click",".button-press",function(){
                $("#expense-main").addClass("hide");
                $("#add-expense").removeClass("hide");
            }).on("click",".cancel-btn",function(){
                $("#expense-main").removeClass("hide");
                $("#add-expense").addClass("hide");
                $("#update-expense").addClass("hide");
            }).on("click",".row-onclick",function(){
                $("#expense-main").addClass("hide");
                $("#update-expense").removeClass("hide");
            }).on("click","",function() {
                $("#program-details").css("left","-100%");
                $("#program-team").css("left", "0");
            });

            Dropzone.options.dropZone = {
                maxFiles: 1,
                /*addRemoveLinks: true,*/
                accept: function(file, done) {
                    done();
                },
                init: function() {
                    userImage = this;
                    this.on("maxfilesexceeded", function(file){
                        this.removeAllFiles();
                        this.addFile(file);
                    });

                    this.on("success",function(file, response){
                        $(".dz-preview").attr("data-file", $(response).attr("id"));
                    });

                    this.on("addedfile", function (file,isPreloaded) {
                        if(isPreloaded){
                            var removeButton = Dropzone.createElement("<a><i class='fa fa-times fa-2x'></i></a>");
                            var _this = this;

                            removeButton.addEventListener("click", function (e) {
                                e.preventDefault();
                                e.stopPropagation();
                                _this.removeFile(file);

                                var userId = $("#image-modal").attr("data-user");

                                var user = new Object;
                                user["id"] = userId;

                                $.ajax({
                                    url: evey.getHome()+"/user/remove-image",
                                    data: JSON.stringify(user),
                                    type: "POST",
                                    dataType: "JSON",
                                    contentType: "application/json",
                                    success:function(data){
                                        if(data.status) {
                                            evey.promptSuccess(data.message);
                                            $('#image-modal').foundation('reveal', 'close');
                                            $(".picked").removeAttr("data-image");
                                        } else {
                                            evey.promptAlert(data.message);
                                        }
                                    }
                                });
                            });

                            file.previewElement.appendChild(removeButton);
                        }
                        var img = $(file.previewTemplate).find("img");
                        img[0].onload = function () {
                            img.css({
                                width: "100%",
                                height:"100%",
                            });
                        };
                    });
                }
            };

        </script>
  </body>
</html>
