<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Expense Tracker</title>

        <link rel="stylesheet" href="css/foundation.min.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/motion-ui.min.css">
        <link rel="stylesheet" href="css/selectize.default.css">
        <link rel="stylesheet" href="css/uploadfile.custom.css">
        <link rel="stylesheet" href="css/toastr.css"/>

        <script src="js/jquery3.min.js"></script>
        <script src="js/angular.js"></script>
        <script src="js/selectize.min.js"></script>
        <script src="js/angular-selectize.js"></script>
        <script src="angular/budgetfy-angular.js"></script>
        <script src="angular/dirPagination.js"></script>
        <script src="angular/ngStorage.min.js"></script>
        <script src="js/toastr.js"></script>
    </head>
    <body ng-app="budgetfyApp">
        <section id="header">
            <div class="row">
                <div class="small-6 columns text-left">
                    <a class="button" href="/budgetfy/overview">Overview</a>
                    <a class="button" href="/budgetfy/program">Programs</a>
                    <a class="button active-page" href="/budgetfy/expense">Expense</a>
                    <a class="button" href="/budgetfy/reports">Reports</a>
                </div>
                <div class="small-6 columns text-right">
                    <a class="button" href="/budgetfy/system-maintenance"><i class="fa fa-cog"></i></a>
                    <a class="button"><i class="fa fa-exclamation"></i></a>
                    <a class="button" data-toggle="user-dropdown"><i class="fa fa-user"></i></a>
                    <div class="dropdown-pane bottom" id="user-dropdown" data-dropdown data-close-on-click="true" data-auto-focus="true">
                        <label class="text-left">Logged In:</label>
                        <label class="middle">reeseypeasy</label>
                        <a class="button alert text-left">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </section>

        <section id="site-content" ng-controller="voucherController"  ng-init="loadInitData()">
            <div id="expense-main">
                <div class="row">
                    <div class="small-5 columns text-left">
                        <a class="button success button-press">Add Expense <i class="fa fa-plus"></i></a>
                    </div>
                    <div class="small-5 columns text-right">
                        <div class="input-group">
                            <input class="input-group-field" type="text" ng-model="voucherFilter">
                            <div class="input-group-button">
                                <input type="submit" class="button" value="Search">
                            </div>
                        </div>
                    </div>
                    <div class="small-2 columns text-right">
                        <select ng-model="currentYear" ng-options="year as year for year in years">
                            <option></option>
                        </select>
                    </div>
                </div>

                <!-- Expense Table List: Start -->
                <div class="row">
                    <div class="small-12 columns">
                        <table id="voucher-result" class="hover">
                            <thead>
                            <tr>
                                <th>Voucher Number</th>
                                <th>Check Reference</th>
                                <th>Status</th>
                                <th>Payee</th>
                                <th>Date</th>
                                <th>Total Expense</th>
                                <th>Total Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr class="row-onclick" dir-paginate="voucher in result = (voucherList | filter : voucherFilter | filter: yearFilter) | itemsPerPage: voucherMaxSize" pagination-id="voucher-list" ng-click="viewVoucher(voucher.id)">
                                    <td>{{voucher.vcNumber}}</td>
                                    <td>{{voucher.reference}}</td>
                                    <td>{{voucher.status.value}}</td>
                                    <td>{{voucher.payee}}</td>
                                    <td>{{voucher.displayDate}}</td>
                                    <td>{{voucher.displayTotalExpensePage}}</td>
                                    <td>{{voucher.displaytotalAmount}}</td>
                                </tr>
                                <tr class="total-footer">
                                    <td><strong>Total</strong></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{{result | sumOfValue: 'totalExpense'}}</td>
                                    <td>{{result | sumOfValue: 'totalAmount'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                    <dir-pagination-controls pagination-id="voucher-list" boundary-links="true"></dir-pagination-controls>
                </ul>
                <!--<div class="row">
                    <div class="small-2 columns">
                        <label class="text-center middle"><strong>Total Expense</strong></label>
                    </div>
                    <div class="small-5 columns">
                        <input type="text" disabled>
                    </div>
                    <div class="small-1 columns">
                        <label class="text-right middle"><strong>Variance</strong></label>
                    </div>
                    <div class="small-4 columns">
                        <input type="text" disabled>
                    </div>
                </div>-->
            </div>
            <!-- Expense Table List: End -->
            <div id="expense-add-container" class="hide">
                <!-- Add Expense-->
                <div id="expense-add">
                    <div class="row">
                        <div class="small-8 columns">
                            <label class="text-right middle"></label>
                        </div>
                        <div class="small-1 columns">
                            <label class="text-right middle">Status</label>
                        </div>
                        <div class="small-3 columns">
                            <select id="create-voucher-status">
                                <option ng-repeat="status in voucherStatusList" value="{{status.id}}">{{status.value}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-1 columns">
                            <label class="text-right middle">Payee</label>
                        </div>
                        <div class="small-3 columns">
                            <input type="text" ng-model="createVoucher.payee">
                        </div>
                        <div class="small-4 columns">
                            <label class="text-right middle"></label>
                        </div>
                        <div class="small-1 columns">
                            <label class="text-right middle">Check/Ref#</label>
                        </div>
                        <div class="small-3 columns end">
                            <input type="text" ng-model="createVoucher.reference">
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-1 columns">
                            <label class="text-right middle">Date</label>
                        </div>
                        <div class="small-3 columns">
                            <input type="date" ng-model="createVoucher.date" placeholder="">
                        </div>
                        <div class="small-4 columns">
                            <label class="text-right middle"></label>
                        </div>
                        <div class="small-1 columns">
                            <label class="text-right middle">VC#</label>
                        </div>
                        <div class="small-3 columns end">
                            <input type="text" ng-model="createVoucher.vcNumber">
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-1 columns">
                            <label class="text-right middle">Variance</label>
                        </div>
                        <div class="small-3 columns">
                            <input type="text" ng-model="createVoucher.variance" disabled>
                        </div>
                        <div class="small-3 columns">
                            <label class="text-right middle"></label>
                        </div>
                        <div class="small-2 columns">
                            <label class="text-right middle">Total Amount</label>
                        </div>
                        <div class="small-3 columns">
                            <input type="text" ng-model="createVoucher.totalAmount">
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 columns">
                            <label class="text-right middle"></label>
                        </div>
                        <div class="small-6 small-centered columns">
                            <a class="button success expanded" data-toggle="add-expense-form"><i class="fa fa-list-ol" aria-hidden="true"></i> Add Particulars</a>
                        </div>
                        <div class="small-3 columns">
                            <label class="text-right middle"></label>
                        </div>
                    </div>
                    <div data-toggler data-animate="slide-in-down slide-out-up" class="callout secondary ease" id="add-expense-form" style="display: none" data-closable>
                        <button class="close-button" aria-label="Close alert" type="button" data-close>
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="row">
                            <h5 class="text-left"><strong>Add Particular</strong></h5>
                        </div>
                        <div class="row">
                            <div class="small-1 columns">
                                <label class="text-right middle">Particular</label>
                            </div>
                            <div class="small-5 columns">
                                <input type="text" ng-model="addParticular.description" placeholder="">
                            </div>
                            <div class="small-2 columns">
                                <label class="text-right middle">Expense Amount</label>
                            </div>
                            <div class="small-4 columns end">
                                <input type="text" ng-model="addParticular.expense">
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-1 columns">
                                <label class="text-right middle">Program</label>
                            </div>
                            <div class="small-5 columns">
                                <selectize config='programConfig' options='programList' ng-model="addParticular.addParticularProgramModel"></selectize>
                            </div>
                            <div class="small-2 columns">
                                <label class="text-right middle">Activity</label>
                            </div>
                            <div class="small-4 columns">
                                <selectize config='programActivityConfig' options='programActivities' ng-model="addParticular.addParticularActivityModel"></selectize>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-8 columns">
                                <div id="add-particular-receipt">Upload</div>
                            </div>
                            <div class="small-4 columns end">
                                <a class="button success expanded" ng-click="addNewParticular('add-particular-receipt')">Add Particular <i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                            <table class="hover" id="particular-table">
                                <thead>
                                <tr>
                                    <th>Particular Name</th>
                                    <th>Program</th>
                                    <th>Activity</th>
                                    <th>Expense</th>
                                    <th>Attachment</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="particular in newParticularList | itemsPerPage: 5" pagination-id="add-voucher-particular">
                                        <td>{{particular.description}}</td>
                                        <td>{{particular.program.programName}}</td>
                                        <td>{{particular.activity.activityName}}</td>
                                        <td>{{particular.expense}}</td>
                                        <td ng-click="downloadAttachment(particular.receipt.id)"><a class="button success" ng-if="particular.receipt != null"><i class="fa fa-file-image-o" aria-hidden="true"></i></a></td>
                                        <td data-open="delete-particular" ng-click="removeParticularOnAdd(particular)"><a class="button alert"><i class="fa fa-minus"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="tiny reveal" id="delete-particular" data-reveal>
                                <h5 class="middle">Are you sure you want to delete user?</h5>
                                <button class="close-button" data-close aria-label="Close modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <div class="row">
                                    <div class="small-3 columns">
                                        <label class="text-right middle"></label>
                                    </div>
                                    <div class="small-3 columns">
                                        <a class="button success expanded" data-close>Yes</a>
                                    </div>
                                    <div class="small-3 columns">
                                        <a class="button alert expanded" data-close>No</a>
                                    </div>
                                    <div class="small-3 columns">
                                        <label class="text-right middle"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                        <dir-pagination-controls pagination-id="add-voucher-particular" boundary-links="true"></dir-pagination-controls>
                    </ul>
                    <div class="row">
                        <div class="small-3 columns">
                            <a class="button alert float-right cancel-btn"><i class="fa fa-arrow-left" aria-hidden="true"></i> Cancel</a>
                        </div>
                        <div class="small-7 columns end">
                            <a class="button success float-right add-expense-nav-next" id="submit-form" ng-click="prepareNewVoucher()">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Add Expense: End -->
                <!-- Add Expense Summary: Start-->
                <div id="expense-add-summary">
                    <div class="row">
                        <div class="small-12 columns">
                            <h5 class="text-left"><strong>Expense Summary</strong></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                            <strong>Details</strong>
                            <table>
                                <tr>
                                    <td>
                                        <div class="row">
                                            <div class="small-6 columns">Payee</div>
                                            <div class="small-6 columns end"><span id="payee-summary">{{createVoucher.payee}}</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="small-6 columns">Check/Ref#</div>
                                            <div class="small-6 columns end"><span id="check-ref-summary">{{createVoucher.reference}}</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="small-6 columns">VC#</div>
                                            <div class="small-6 columns end"><span id="vc-summary">{{createVoucher.vcNumber}}</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="small-6 columns">Date</div>
                                            <div class="small-6 columns end"><span id="date-summary">{{createVoucher.date}}</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="small-6 columns">Total Amount</div>
                                            <div class="small-6 columns end"><span id="total-amount-summary">{{createVoucher.totalAmount}}</span></div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                                <strong>Particulars</strong>
                                <table>
                                    <tbody id="particular-table-summary">
                                    <tr ng-repeat="particular in createVoucher.particulars">
                                    <td>
                                        <div class="row">
                                            <div class="small-6 columns">Name</div>
                                            <div class="small-6 columns end"><span>{{particular.description}}</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="small-6 columns">Program</div>
                                            <div class="small-6 columns end"><span>{{particular.program.programName}}</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="small-6 columns">Activity</div>
                                            <div class="small-6 columns end"><span>{{particular.activity.activityName}}</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="small-6 columns">Expense</div>
                                            <div class="small-6 columns end"><span>{{particular.expense}}</span></div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-6 columns text-center">
                            <a class="button alert add-summary-nav-prev"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
                        </div>
                        <div class="small-6 columns text-center">
                            <a class="button success add-summary-nav-next" ng-click="createVoucherObj()">Finish <i class="fa fa-check" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Expense Summary: End-->

            <div id="expense-update-container" class="hide">
                <div id="expense-update">
                    <div class="row">
                        <div class="small-8 columns">
                            <label class="text-right middle"></label>
                        </div>
                        <div class="small-1 columns">
                            <label class="text-right middle">Status</label>
                        </div>
                        <div class="small-3 columns">
                            <select ng-model="selectedVoucher.statusId" ng-options="status.id as status.value for status in voucherStatusList">
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-1 columns">
                            <label class="text-right middle">Payee</label>
                        </div>
                        <div class="small-3 columns">
                            <input type="text" ng-model="selectedVoucher.payee">
                        </div>
                        <div class="small-4 columns">
                            <label class="text-right middle"></label>
                        </div>
                        <div class="small-1 columns">
                            <label class="text-right middle">Check/Ref#</label>
                        </div>
                        <div class="small-3 columns end">
                            <input type="text" ng-model="selectedVoucher.reference">
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-1 columns">
                            <label class="text-right middle">Date</label>
                        </div>
                        <div class="small-3 columns">
                            <input type="date" ng-model="selectedVoucher.date" placeholder="">
                        </div>
                        <div class="small-4 columns">
                            <label class="text-right middle"></label>
                        </div>
                        <div class="small-1 columns">
                            <label class="text-right middle">VC#</label>
                        </div>
                        <div class="small-3 columns end">
                            <input type="text" ng-model="selectedVoucher.vcNumber">
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-1 columns">
                            <label class="text-right middle">Variance</label>
                        </div>
                        <div class="small-3 columns">
                            <input type="text" ng-model="selectedVoucher.displayTotalExpense" disabled>
                        </div>
                        <div class="small-3 columns">
                            <label class="text-right middle"></label>
                        </div>
                        <div class="small-2 columns">
                            <label class="text-right middle">Total Amount</label>
                        </div>
                        <div class="small-3 columns end">
                            <input type="text" ng-model="selectedVoucher.totalAmount">
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 columns">
                            <label class="text-right middle"></label>
                        </div>
                        <div class="small-6 small-centered columns">
                            <a class="button success expanded" data-toggle="add-exist-expense-form"><i class="fa fa-list-ol" aria-hidden="true"></i> Add Particulars</a>
                        </div>
                        <div class="small-3 columns">
                            <label class="text-right middle"></label>
                        </div>
                    </div>
                    <div data-toggler data-animate="slide-in-down slide-out-up" class="callout secondary ease" id="add-exist-expense-form" style="display: none" data-closable>
                        <button class="close-button" aria-label="Close alert" type="button" data-close>
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="row">
                            <h5 class="text-left"><strong>Add Particular</strong></h5>
                        </div>
                        <div class="row">
                            <div class="small-1 columns">
                                <label class="text-right middle">Particular</label>
                            </div>
                            <div class="small-5 columns">
                                <input type="text" ng-model="addParticular.description" placeholder="">
                            </div>
                            <div class="small-2 columns">
                                <label class="text-right middle">Expense Amount</label>
                            </div>
                            <div class="small-4 columns end">
                                <input type="text" ng-model="addParticular.expense">
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-1 columns">
                                <label class="text-right middle">Program</label>
                            </div>
                            <div class="small-5 columns">
                                <selectize config='programConfig' options='programList' ng-model="addParticular.addParticularProgramModel"></selectize>
                            </div>
                            <div class="small-2 columns">
                                <label class="text-right middle">Activity</label>
                            </div>
                            <div class="small-4 columns">
                                <selectize config='programActivityConfig' options='programActivities' ng-model="addParticular.addParticularActivityModel"></selectize>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-8 columns">
                                <div id="add-particular-receipt-update">Upload</div>
                            </div>
                            <div class="small-4 columns end">
                                <a class="button success expanded" ng-click="addNewParticularSelectedVoucher('add-particular-receipt-update')">Add Particular <i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div data-toggler data-animate="slide-in-down slide-out-up" class="callout secondary ease" id="update-expense-form" style="display: none" data-closable>
                        <button class="close-button" aria-label="Close alert" type="button" data-close>
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="row">
                            <h5 class="text-left"><strong>Update Particular</strong></h5>
                        </div>
                        <div class="row">
                            <div class="small-1 columns">
                                <label class="text-right middle">Particular</label>
                            </div>
                            <div class="small-5 columns">
                                <input type="text" ng-model="selectedParticular.description">
                            </div>
                            <div class="small-2 columns">
                                <label class="text-right middle">Expense Amount</label>
                            </div>
                            <div class="small-4 columns end">
                                <input type="text" ng-model="selectedParticular.expense"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-1 columns">
                                <label class="text-right middle">Program</label>
                            </div>
                            <div class="small-5 columns">
                                <selectize config='programConfig' options='programList' ng-model="selectedParticular.activity.programId"></selectize>
                            </div>
                            <div class="small-2 columns">
                                <label class="text-right middle">Activity</label>
                            </div>
                            <div class="small-4 columns end">
                                <selectize config='programActivityConfig' options='programActivities' ng-model="selectedParticular.activityId"></selectize>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-8 columns">
                                <div id="update-particular-receipt">Upload</div>
                            </div>
                            <div class="small-4 columns end">
                                <a class="button success expanded" ng-click="addNewParticular()">Update Particular <i class="fa fa-pencil"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                            <table class="hover" id="particular-table-update">
                                <thead>
                                <tr>
                                    <th>Particular Name</th>
                                    <th>Program</th>
                                    <th>Activity</th>
                                    <th>Expense</th>
                                    <th>Attachment</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr dir-paginate="particular in selectedVoucher.particulars | itemsPerPage: 5" pagination-id="view-voucher-particular" ng-click="viewSelectedParticular(particular.id)">
                                    <td data-toggle="update-expense-form">{{particular.description}}</td>
                                    <td data-toggle="update-expense-form">{{particular.activity.program.programName}}</td>
                                    <td data-toggle="update-expense-form">{{particular.activity.activityName}}</td>
                                    <td data-toggle="update-expense-form">{{particular.displayExpense}}</td>
                                    <td ng-click="downloadAttachment(particular.receiptId)"><a class="button success" ng-if="particular.receiptId != null"><i class="fa fa-file-image-o" aria-hidden="true"></i></a></td>
                                    <td ng-click="removeParticular(particular.id)"><a class="button alert"><i class="fa fa-minus"></i></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                        <dir-pagination-controls pagination-id="view-voucher-particular" boundary-links="true"></dir-pagination-controls>
                    </ul>
                    <div class="row">
                        <div class="small-3 columns">
                            <a class="button alert float-right cancel-btn"><i class="fa fa-arrow-left" aria-hidden="true"></i> Cancel</a>
                        </div>
                        <div class="small-7 columns end">
                            <a class="button success float-right update-expense-nav-next" id="submit-update-form">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Update Expense: End -->
                <!-- Update Expense Summary: Start-->
                <div id="expense-update-summary">
                    <div class="row">
                        <h5 class="text-left"><strong>Expense Summary</strong></h5>
                    </div>
                    <div class="row">
                        <strong>Details</strong>
                        <table>
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="small-6 columns">Payee</div>
                                        <div class="small-6 columns end"><span id="update-payee-summary">{{selectedVoucher.payee}}</span></div>
                                    </div>
                                    <div class="row">
                                        <div class="small-6 columns">Check/Ref#</div>
                                        <div class="small-6 columns end"><span id="update-check-ref-summary">{{selectedVoucher.reference}}</span></div>
                                    </div>
                                    <div class="row">
                                        <div class="small-6 columns">VC#</div>
                                        <div class="small-6 columns end"><span id="update-vc-summary">{{selectedVoucher.vcNumber}}</span></div>
                                    </div>
                                    <div class="row">
                                        <div class="small-6 columns">Date</div>
                                        <div class="small-6 columns end"><span id="update-date-summary">{{selectedVoucher.date}}</span></div>
                                    </div>
                                    <div class="row">
                                        <div class="small-6 columns">Total Amount</div>
                                        <div class="small-6 columns end"><span id="update-total-amount-summary">{{selectedVoucher.totalAmount}}</span></div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="row">
                        <strong>Particulars</strong>
                        <table>
                            <tbody id="particular-update-summary">
                            <tr ng-repeat="particular in selectedVoucher.particulars">
                                <td>
                                    <div class="row">
                                        <div class="small-6 columns">Name</div>
                                        <div class="small-6 columns end"><span>{{particular.description}}</span></div>
                                    </div>
                                    <div class="row">
                                        <div class="small-6 columns">Program</div>
                                        <div class="small-6 columns end"><span>{{particular.activity.program.programName}}</span></div>
                                    </div>
                                    <div class="row">
                                        <div class="small-6 columns">Activity</div>
                                        <div class="small-6 columns end"><span>{{particular.activity.activityName}}</span></div>
                                    </div>
                                    <div class="row">
                                        <div class="small-6 columns">Expense</div>
                                        <div class="small-6 columns end"><span>{{particular.displayExpense}}</span></div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row">
                        <div class="small-3 columns">
                            <a class="button alert float-right"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
                        </div>
                        <div class="small-7 columns end">
                            <a class="button success float-right" ng-click="updateVoucher()">Finish <i class="fa fa-check" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <!--Update Expense Summary: End-->
            </div>
        </section>

        <script src="js/vendor/what-input.js"></script>
        <script src="js/vendor/foundation.min.js"></script>
        <script src="js/evey-1.0.js"></script>
        <script src="js/motion-ui.min.js"></script>
        <script src="js/jquery.form.js"></script>
        <script src="js/jquery.uploadfile.min.js"></script>
        <script>
            $(document).foundation();

            $(document).ready(function(){
                $("div#add-particular-receipt").uploadFile({
                    url:"/budgetfy/file/upload",
                    multiple:false,
                    dragDrop:false,
                    maxFileCount:1,
                    showPreview:true,
                    previewHeight: "100px",
                    previewWidth: "100px",
                    showDelete: true,
                    statusBarWidth:600,
                    onSuccess:function(files,data,xhr,pd){
                        var preview = $("div#add-particular-receipt").parent(".columns").find("img.ajax-file-upload-preview");
                        $(preview).attr("data-upload-id",data[0].id);
                    }
                });

                $("div#add-particular-receipt-update").uploadFile({
                    url:"/budgetfy/file/upload",
                    multiple:false,
                    dragDrop:false,
                    maxFileCount:1,
                    showPreview:true,
                    previewHeight: "100px",
                    previewWidth: "100px",
                    showDelete: true,
                    statusBarWidth:600,
                    onSuccess:function(files,data,xhr,pd){
                        var preview = $("div#add-particular-receipt-update").parent(".columns").find("img.ajax-file-upload-preview");
                        $(preview).attr("data-upload-id",data[0].id);
                    }
                });

                $("div#update-particular-receipt").uploadFile({
                    url:"/budgetfy/file/upload",
                    multiple:false,
                    dragDrop:false,
                    maxFileCount:1,
                    showPreview:true,
                    previewHeight: "100px",
                    previewWidth: "100px",
                    showDelete: true,
                    statusBarWidth:600,
                    onSuccess:function(files,data,xhr,pd){
                        var preview = $("div#update-particular-receipt").parent(".columns").find("img.ajax-file-upload-preview");
                        $(preview).attr("data-upload-id",data[0].id);
                    }
                });

            }).on("click",".button-press",function(){
                $("#expense-main").addClass("hide");
                $("#expense-add-container").removeClass("hide");
            }).on("click",".cancel-btn",function(){
                $("#expense-main").removeClass("hide");
                $("#expense-add-container").addClass("hide");
                $("#expense-update-container").addClass("hide");
            }).on("click",".row-onclick",function(){
                $("#expense-main").addClass("hide");
                $("#expense-update-container").removeClass("hide");
            }).on("click",".add-expense-nav-next",function() {
                $("#expense-add").css("left","-100%");
                $("#expense-add-summary").css("left", "0");
            }).on("click",".update-expense-nav-next",function() {
                $("#expense-update").css("left","-100%");
                $("#expense-update-summary").css("left", "0");
            }).on("click",".add-summary-nav-prev",function() {
                $("#expense-add").css("left","0");
                $("#expense-add-summary").css("left", "+100%");
            }).on("click",".update-summary-nav-prev",function() {
                $("#expense-update").css("left","0");
                $("#expense-update-summary").css("left", "+100%");
            });


        </script>
  </body>
</html>
