<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>

    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/selectize.default.css">
</head>
<body ng-app="budgetfyApp" ng-controller="notificationController" ng-init="loadInitData()">
    <section id="header" ng-cloak>
        <div class="row">
            <div class="small-6 columns text-left">
                <a class="button" href="/budgetfy/overview">Overview</a>
                <a class="button" href="/budgetfy/program">Programs</a>
                <a class="button" href="/budgetfy/expense">Expense</a>
                <a class="button" href="/budgetfy/reports">Reports</a>
            </div>
            <div class="small-3 columns">
                <label class="text-right middle"></label>
            </div>
            <div class="small-3 columns text-right">
                <ul id="nav">
                    <li><a class="button" href="/budgetfy/system-maintenance"><i class="fa fa-cog"></i></a></li>
                    <li id="notification_li" ng-click="readNotification()">
                        <span id="notification_count" ng-show="newNotificationCount > 0">{{newNotificationCount}}</span>
                        <a class="button" id="notificationLink"><i class="fa fa-exclamation"></i></a>
                        <div id="notificationContainer">
                            <div id="notificationTitle" class="text-left">Notifications</div>
                            <div id="notificationsBody" class="notifications">
                                <ul>
                                    <li class="notif" ng-repeat="notification in notificationTray">
                                        {{notification.message}}<br>
                                        <span class="notif-time"><i class="fa fa-clock-o" aria-hidden="true"></i> {{notification.createDateDisplay}}</span>
                                    </li>
                                </ul>
                            </div>
                            <div id="notificationFooter"><a href="/budgetfy/notification">See All</a></div>
                        </div>
                    </li>
                    <li><a class="button" data-toggle="user-dropdown"><i class="fa fa-user"></i></a>
                        <div class="dropdown-pane bottom" id="user-dropdown" data-dropdown data-close-on-click="true" data-auto-focus="true">
                            <label class="text-left"><strong>Logged In:</strong></label>
                            <label class="text-center middle">{{user.lastName}}, {{user.firstName}}</label>
                            <a href="/budgetfy/logout" class="button alert text-left">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

<section id="site-content-overview">
    <div class="row">
        <div class="small-12 columns">
            <h2 class="middle">Notifications</h2>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <label class="text-right middle"></label>
        </div>
    </div>
    <div class="notifications row">
        <div class="small-12 columns">
            <ul class="">
                <li class="notif" ng-repeat="notification in notificationTray" style="width: 100%">
                    {{notification.message}}<br>
                    <span class="notif-time"><i class="fa fa-clock-o" aria-hidden="true"></i> {{notification.createDateDisplay}}</span>
                </li>
            </ul>
        </div>
    </div>

</section>
</body>
<footer>
    <script src="js/jquery3.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/selectize.min.js"></script>
    <script src="js/angular-selectize.js"></script>
    <script src="angular/budgetfy-angular.js"></script>
    <script src="angular/dirPagination.js"></script>
    <script src="angular/ngStorage.min.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.min.js"></script>
    <script src="js/evey-1.0.js"></script>
    <script src="js/zingchart.min.js"></script>
    <script src="js/zingchart-angularjs.js"></script>
    <script src="js/foundation-colorpicker-module.js"></script>
    <script>
        $(document).foundation();
        $(document).ready(function(){
            $("#notificationLink").click(function() {
                $("#notificationContainer").fadeToggle(300);
                $("#notification_count").fadeOut("slow");
            });

            //Document Click hiding the popup
            $(document).click(function() {
                $("#notificationContainer").hide();
            });

            //Popup on click
            $("#notificationContainer").click(function() {
                e.stopPropagation();
            });

        });
    </script>
</footer>
</html>