<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Expense Tracker</title>

        <link rel="stylesheet" href="css/foundation.min.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/motion-ui.min.css">
        <link rel="stylesheet" href="css/selectize.default.css">
        <link rel="stylesheet" href="css/jquery-ui.min.css">
        <link rel="stylesheet" href="css/toastr.css"/>

    </head>
    <body ng-app="budgetfyApp" ng-controller="programController" ng-cloak>
        <section id="header">
            <div class="row">
                <div class="small-6 columns text-left">
                    <a class="button" href="/budgetfy/overview">Overview</a>
                    <a class="button active-page" href="/budgetfy/program">Programs</a>
                    <a class="button" href="/budgetfy/expense">Expense</a>
                    <a class="button" href="/budgetfy/reports">Reports</a>
                </div>
                <div class="small-6 columns text-right">
                    <a class="button" href="/budgetfy/system-maintenance"><i class="fa fa-cog"></i></a>
                    <a class="button" data-toggle="notif-dropdown"><i class="fa fa-exclamation"></i></a>
                    <ul class="dropdown-pane bottom" id="notif-dropdown" data-dropdown data-close-on-click="true">
                        <label class="text-left"><strong>Notifications:</strong></label>
                        <ul class="stacked button-group" id="stacked-btn-grp">
                            <li><a class="button notify" href="#">Program Test1213 is in Critical Level<i class="fa fa-exclamation"></i></a></li>
                            <li><a class="button notify" href="#">Program Test5 is in Critical Level<i class="fa fa-exclamation"></i></a></li>
                        </ul>
                    </ul>
                    <a class="button" data-toggle="user-dropdown"><i class="fa fa-user"></i></a>
                    <div class="dropdown-pane bottom" id="user-dropdown" data-dropdown data-close-on-click="true" data-auto-focus="true">
                        <label class="text-left"><strong>Logged In:</strong></label>
                        <label class="text-center middle">{{user.lastName}}, {{user.firstName}}</label>
                        <a href="/budgetfy/logout" class="button alert text-left">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </section>

        <section id="site-content-program"  ng-init="loadInitData()">
            <div id="home-page">
                <div class="row">
                    <div class="small-5 columns text-left">
                        <a class="button success" href="/budgetfy/program/create-program">Create Program <i class="fa fa-plus"></i></a>
                    </div>
                    <div class="small-5 columns text-right">
                        <div class="input-group">
                            <input class="input-group-field" type="text" ng-model="programFilter">
                            <div class="input-group-button">
                                <input type="submit" class="button" value="Search">
                            </div>
                        </div>
                    </div>
                    <div class="small-2 columns text-right">
                        <select ng-model="currentYear" ng-options="year as year for year in years">
                            <option></option>
                        </select>
                    </div>
                </div>


              <!-- Program Table List: Start -->
              <div class="row">
                  <div class="small-12 columns">
                      <table id="programs-result" class="hover">
                          <thead>
                            <tr>
                                <th>Program Name</th>
                                <th>Total Budget</th>
                                <th>Duration</th>
                                <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="row-onclick" dir-paginate="program in result = (programList | filter : programFilter | filter: yearFilter) | itemsPerPage: programMaxSize" pagination-id="program-list" data-program="{{program.id}}" ng-click="viewProgram(program.id)">
                                <td>{{program.programName}}</td>
                                <td>{{program.displayProgramBudget}}</td>
                                <td>{{program.displayProgramDuration}}</td>
                                <td>
                                    <a class="button alert" data-open="delete-program" ng-click="deleteProgram(program.id)"><i class="fa fa-minus"></i></a>
                                </td>
                            </tr>
                            <tr class="total-footer">
                                <td><strong>Total</strong></td>
                                <td>{{result | sumOfValue: 'totalBudget'}}</td>
                                <td></td>
                                <td></td>
                            </tr>
                          </tbody>
                      </table>
                      <div class="tiny reveal" id="delete-program" data-reveal>
                          <h5 class="middle">Are you sure you want to delete this program?</h5>
                          <button class="close-button" data-close aria-label="Close modal" type="button">
                              <span aria-hidden="true">&times;</span>
                          </button>
                          <div class="row">
                              <div class="small-2 columns">
                                  <label class="text-right middle"></label>
                              </div>
                              <div class="small-4 columns">
                                  <a class="button success expanded" data-close ng-click="continueProgramDelete()">Yes <i class="fa fa-check" aria-hidden="true"></i></a>
                              </div>
                              <div class="small-4 columns">
                                  <a class="button alert expanded" data-close>No <i class="fa fa-times" aria-hidden="true"></i></a>
                              </div>
                              <div class="small-2 columns">
                                  <label class="text-right middle"></label>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                  <dir-pagination-controls pagination-id="program-list" boundary-links="true"></dir-pagination-controls>
              </ul>
            </div>
              <!-- Program Table List: End -->


            <div id="view-program" class="row collapse hide">
                <div class="row">
                    <h1>{{selectedProgram.programName}}</h1>
                </div>
                <div class="small-2 columns">
                    <ul class="tabs vertical" id="program-tabs" data-tabs>
                        <li class="tabs-title is-active"><a class="button" href="#dashboard" aria-selected="true"><strong><i class="fa fa-bar-chart" aria-hidden="true"></i> Dashboard</strong></a></li>
                        <li class="tabs-title"><a class="button" href="#budget"><strong><i class="fa fa-calendar" aria-hidden="true"></i> Budget</strong></a></li>
                        <li class="tabs-title"><a class="button" href="#expense"><strong><i class="fa fa-money" aria-hidden="true"></i> Expense</strong></a></li>
                    </ul>
                    <label for="return-btn" class="middle"></label>
                    <a class="button alert return-click middle" id="return-btn"><i class="fa fa-arrow-left" aria-hidden="true"></i> Return</a>
                </div>
                <div class="small-10 columns">
                    <div class="tabs-content vertical" data-tabs-content="program-tabs">
                        <!-- Dashboard -->
                        <div class="tabs-panel is-active" id="dashboard">
                            <form data-abide>
                                <div class="row">
                                    <div class="small-5 columns">
                                        <label for="allocate-budget" class="text-left middle"><strong>{{unallocatedBudget}}PHP (Not allocated)</strong></label>
                                    </div>
                                    <div class="small-7 columns">
                                        <a class="button success hide" href="#" id="allocate-budget">Allocate Budget <i class="fa fa-calculator" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-5 columns">
                                        <label for="review" class="text-left middle"><strong>Laguna Teaching Program is over expending!</strong></label>
                                    </div>
                                    <div class="small-7 columns">
                                        <a class="button success hide" href="#" id="review">Review <i class="fa fa-book" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="text-right middle"></label>
                                </div>
                                <div class="row">
                                    <div class="small-1 columns">
                                        <label class="text-right middle"></label>
                                    </div>
                                    <div class="small-10 columns">
                                        <div id="progressbar" class="progress-bar"></div>
                                    </div>
                                    <div class="small-1 columns">
                                        <label class="text-right middle"></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="text-right middle"></label>
                                </div>
                                <div class="row">
                                    <div class="small-1 columns">
                                        <label class="text-right middle"></label>
                                    </div>
                                    <div class="small-5 columns end" id="bar-canvas" style="width:75%">
                                        <canvas id="bar-chart"></canvas>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Budget Tab -->
                        <div class="tabs-panel" id="budget">
                            <div class="row">
                                <div class="small-5 columns">
                                    <a id="add-activity" class="button success" data-toggle="activity-form">Add Activity <i class="fa fa-plus"></i></a>
                                </div>
                                <div class="small-2 columns">
                                    <label class="text-right middle"></label>
                                </div>
                                <div class="small-5 columns text-right">
                                    <div class="input-group">
                                        <input class="input-group-field" type="text" ng-model="programBudgetFilter">
                                        <div class="input-group-button">
                                            <input type="submit" class="button" value="Search">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-toggler data-animate="slide-in-down slide-out-up" class="row callout secondary ease" id="activity-form" style="display: none" data-closable>
                                <button class="close-button" aria-label="Close alert" type="button" data-close>
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <div class="row">
                                    <div class="small-12 columns">
                                        <h5 class="text-left"><strong>Manage Activities</strong></h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-3 columns">
                                        <label class="text-right middle">Activity Name</label>
                                    </div>
                                    <div class="small-7 columns end" id="activity">
                                        <selectize data-list="false" data-attr="id" config='activityTypeSelectConfig' options='activityTypeList' ng-model="activityTypeSelectizeModel"></selectize>
                                        <span class="form-error">Please provide valid Activity.</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-3 columns text-right">
                                        <label for="activity-budget" class="middle">Budget</label>
                                    </div>
                                    <div class="small-3 columns">
                                        <input type="text" class="clear-after comma-separator numeric" id="activity-budget" placeholder="Budget">
                                        <span class="form-error">Please provide valid budget amount.</span>
                                    </div>
                                    <div class="small-2 columns">
                                        <label class="text-right middle">Activity Type</label>
                                    </div>
                                    <div class="small-2 columns end text-right">
                                        <select id="activity-code">
                                            <option ng-repeat="code in activityCodeList" value="{{code.id}}">{{code.value}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-6 columns text-right">
                                        <label class="middle"></label>
                                    </div>
                                    <div class="small-2 columns text-right">
                                        <label for="remaining-budget" class="middle">Remaining Budget</label>
                                    </div>
                                    <div class="small-2 columns text-right end">
                                        <input type="number" id="remaining-budget" disabled>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-6 small-centered columns">
                                        <a class="button success expanded" id="add-activity-btn" ng-click="addActivityToProgram()">Add Activity <i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div data-toggler data-animate="slide-in-down slide-out-up" class="row callout secondary ease" id="update-activity-form" style="display: none" data-closable>
                                <button class="close-button" aria-label="Close alert" type="button" data-close>
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <div class="row">
                                    <div class="small-12 columns">
                                        <h5 class="text-left"><strong>Manage Activities</strong></h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-3 columns">
                                        <label class="text-right middle">Activity Name</label>
                                    </div>
                                    <div class="small-7 columns end">
                                        <selectize data-list="false" data-attr="id" config='activityTypeSelectConfig' options='activityTypeList' ng-model="selectedActivity.activityTypeId"></selectize>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-3 columns text-right">
                                        <label for="activity-budget" class="middle">Budget</label>
                                    </div>
                                    <div class="small-3 columns">
                                        <input type="text" class="comma-separator numeric" placeholder="Budget" ng-model="selectedActivity.amount">
                                    </div>
                                    <div class="small-2 columns">
                                        <label class="text-right middle">Activity Type</label>
                                    </div>
                                    <div class="small-2 columns end text-right">
                                        <select ng-model="selectedActivity.activityCodeId" ng-options="code.id as code.value for code in activityCodeList">
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-6 columns text-right">
                                        <label class="middle"></label>
                                    </div>
                                    <div class="small-2 columns text-right">
                                        <label class="middle">Remaining Budget</label>
                                    </div>
                                    <div class="small-2 columns text-right end">
                                        <input type="number" disabled>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-6 small-centered columns">
                                        <a class="button success expanded" ng-click="updateActivity()">Update Activity <i class="fa fa-pencil"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 columns">
                                    <table class="hover" id="program-budget-view">
                                        <thead>
                                            <tr>
                                                <th>Activity Name</th>
                                                <th>Type</th>
                                                <th>Budget</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr dir-paginate="activity in result = (selectedProgram.activities | filter:programBudgetFilter) | itemsPerPage: 5" pagination-id="program-activity" data-activity-id="{{activity.id}}" ng-click="selectActivityProgram(activity.id)">
                                                <td data-toggle="update-activity-form" >{{activity.activityName}}</td>
                                                <td data-toggle="update-activity-form" >{{activity.activityCodeName}}</td>
                                                <td data-toggle="update-activity-form" >{{activity.displayAmount}}</td>
                                                <td><a class="button alert" data-open="delete-activity" ng-click="removeActivityProgram(activity.id)"><i class="fa fa-minus"></i></a></td>
                                            </tr>
                                            <tr class="total-footer">
                                                <td><strong>Total</strong></td>
                                                <td></td>
                                                <td>{{result | sumOfValue: 'amount'}}</td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="tiny reveal" id="delete-activity" data-reveal>
                                        <h5 class="middle">Are you sure you want to delete activity?</h5>
                                        <button class="close-button" data-close aria-label="Close modal" type="button">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <div class="row">
                                            <div class="small-2 columns">
                                                <label class="text-right middle"></label>
                                            </div>
                                            <div class="small-4 columns">
                                                <a class="button success expanded"  ng-click="removeActivityProgram(activity.id)" data-close>Yes <i class="fa fa-check" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="small-4 columns">
                                                <a class="button alert expanded" data-close>No <i class="fa fa-times" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="small-2 columns">
                                                <label class="text-right middle"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                                <dir-pagination-controls pagination-id="program-activity" boundary-links="true"></dir-pagination-controls>
                            </ul>
                        </div>

                        <!-- Expense Tab -->
                        <div class="tabs-panel" id="expense">
                            <div id="expense-table">
                                <div class="row">
                                    <div class="small-5 columns">
                                    </div>
                                    <div class="small-5 columns text-right">
                                        <div class="input-group">
                                            <input class="input-group-field" type="text" ng-model="activityExpenseFilter">
                                            <div class="input-group-button">
                                                <input type="submit" class="button" value="Search">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 columns">
                                        <table class="hover">
                                            <thead>
                                                <tr>
                                                    <th>Activity Name</th>
                                                    <th>Type</th>
                                                    <th>Total Expense</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-click="viewActivityExpense(activity.activity.id)" dir-paginate="activity in result = (selectedProgram.activityExpense | filter:activityExpenseFilter) | itemsPerPage: 5" pagination-id="activity-expense" class="program-expense-row">
                                                    <td>{{activity.activity.activityName}}</td>
                                                    <td>{{activity.activity.activityCodeName}}</td>
                                                    <td>{{activity.displayExpense}}</td>
                                                </tr>
                                                <tr class="total-footer">
                                                    <td><strong>Total</strong></td>
                                                    <td></td>
                                                    <td>{{result | sumOfValue: 'expense'}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                                    <dir-pagination-controls pagination-id="activity-expense" boundary-links="true"></dir-pagination-controls>
                                </ul>
                            </div>
                            <div class="row collapse hide" id="particulars-table">
                                <div class="row">
                                    <div class="small-3 columns">
                                        <a class="button alert" id="return-expense"><i class="fa fa-arrow-left" aria-hidden="true"></i></strong></a>
                                    </div>
                                    <div class="small-2 columns">
                                    </div>
                                    <div class="small-5 columns text-right">
                                        <div class="input-group">
                                            <input class="input-group-field" type="text" ng-model="viewExpenseActivity">
                                            <div class="input-group-button">
                                                <input type="submit" class="button" value="Search">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row collapse">
                                    <div class="small-12 columns">
                                        <table class="hover">
                                            <thead>
                                            <tr>
                                                <th>Particular Name</th>
                                                <th>Activity</th>
                                                <th>CV#</th>
                                                <th>Check/Ref#</th>
                                                <th>Expense</th>
                                                <th>Receipt</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr dir-paginate="particular in activityExpense | filter: viewExpenseActivity | itemsPerPage: 5" pagination-id="view-expense-table">
                                                    <td>{{particular.description}}</td>
                                                    <td>{{particular.activity.activityName}}</td>
                                                    <td>{{particular.voucher.vcNumber}}</td>
                                                    <td>{{particular.voucher.reference}}</td>
                                                    <td>{{particular.displayExpense}}</td>
                                                    <td><a class="button success">View</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                                    <dir-pagination-controls pagination-id="view-expense-table" boundary-links="true"></dir-pagination-controls>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <footer>
        <script src="js/jquery3.min.js"></script>
        <script src="js/angular.js"></script>
        <script src="js/selectize.min.js"></script>
        <script src="js/angular-selectize.js"></script>
        <script src="angular/budgetfy-angular.js"></script>
        <script src="angular/dirPagination.js"></script>
        <script src="angular/ngStorage.min.js"></script>
        <script src="js/vendor/what-input.js"></script>
        <script src="js/vendor/foundation.min.js"></script>
        <script src="js/evey-1.0.js"></script>
        <script src="js/Chart.min.js"></script>
        <script src="js/motion-ui.min.js"></script>
        <script src="js/jquery-ui.min.js"></script>
        <script src="js/toastr.js"></script>
        <script src="js/zingchart-angularjs.js"></script>
        <script src="js/foundation-colorpicker-module.js"></script>
        <script>
            $(document).foundation();

            $(document).ready(function(){


            }).on("click","tr.row-onclick > td:not(:nth-of-type(4))",function(){
                $("#home-page").addClass("hide");
                $("#view-program").removeClass("hide");
            }).on("click", ".program-expense-row", function(){
                $("#particulars-table").removeClass("hide");
                $("#expense-table").addClass("hide");
            }).on("click","#add-activity-btn",function() {
                $('input.clear-after').val('');
            }).on("keyup", ".comma-separator", function(){
                $(this).val(evey.addThousandsSeparator($(this).val()));
                $(this).trigger("change");
            }).on("input", ".numeric", function() {
                this.value = this.value.replace(/[^\d\.]/g,'');
            });

            $("#return-btn").click(function(){
                $("#home-page").removeClass("hide");
                $("#view-program").addClass("hide");
            });

            $("#return-expense").click(function(){
                $("#particulars-table").addClass("hide");
                $("#expense-table").removeClass("hide");
            });

            $("#progressbar").progressbar({
                value: 37
            });

        </script>
    </footer>
  </body>
</html>
