<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>

    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/selectize.default.css">

    <script src="js/jquery3.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/selectize.min.js"></script>
    <script src="js/angular-selectize.js"></script>
    <script src="angular/budgetfy-angular.js"></script>
    <script src="angular/dirPagination.js"></script>
    <script src="angular/ngStorage.min.js"></script>
</head>
<body ng-app="budgetfyApp">
<section id="header">
    <div class="row">
        <div class="small-6 columns text-left">
            <a class="button" href="/budgetfy/overview">Overview</a>
            <a class="button" href="/budgetfy/program">Programs</a>
            <a class="button" href="/budgetfy/expense">Expense</a>
            <a class="button active-page" href="/budgetfy/reports">Reports</a>
        </div>
        <div class="small-6 columns text-right">
            <a class="button" href="/budgetfy/system-maintenance"><i class="fa fa-cog"></i></a>
            <a class="button"><i class="fa fa-exclamation"></i></a>
            <a class="button" data-toggle="user-dropdown"><i class="fa fa-user"></i></a>
            <div class="dropdown-pane bottom" id="user-dropdown" data-dropdown data-close-on-click="true" data-auto-focus="true">
                <label class="text-left"><strong>Logged In:</strong></label>
                <label class="text-center middle">USER1</label>
                <a class="button alert text-left">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a>
             </div>
        </div>
    </div>
</section>
<section id="site-content-reports" ng-controller="reportController" ng-init="loadInitData()">
    <div class="row">
        <h3>Generate Reports</h3>
    </div>
    <!-- Monthly per year -->
    <div class="row">
        <h5>Cash Disbursement by Date</h5>
    </div>
    <div class="row">
        <div class="small-1 columns">
            <label for="from-date" class="text-right middle">From</label>
        </div>
        <div class="small-3 columns">
            <input type="date" id="from-date" placeholder="">
        </div>
        <div class="small-1 columns">
            <label for="to-date" class="text-right middle">To</label>
        </div>
        <div class="small-3 columns">
            <input type="date" id="to-date" placeholder="">
        </div>
        <div class="small-4 columns">
            <a class="button success" ng-click="generateDisbursementByDate()" >Generate <i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <label class="text-center middle"></label>
        </div>
    </div>
    <!-- Annual-->
    <div class="row">
        <h5>Cash Disbursement Annual</h5>
    </div>
    <div class="row">
        <div class="small-1 columns">
            <label class="text-right middle">Year</label>
        </div>
        <div class="small-3 columns">
            <select>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
            </select>
        </div>
        <div class="small-1 columns">
            <label class="text-right middle">Program</label>
        </div>
        <div class="small-3 columns">
            <select>
                <option value="All">All</option>
                <option value="Program1">Program1</option>
                <option value="Program2">Program2</option>
            </select>
        </div>
        <div class="small-4 columns">
            <a class="button success add-summary-nav-next">Generate <i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <label class="text-center middle"></label>
        </div>
    </div>
    <!-- Per Voucher Code-->
    <div class="row">
        <h5>Voucher Code Report</h5>
    </div>
    <div class="row">
        <div class="small-1 columns">
            <label class="text-right middle">Voucher #</label>
        </div>
        <div class="small-7 columns">
            <selectize config='voucherConfig' options='voucherList' ng-model="selectedVoucherReport"></selectize>
        </div>
        <div class="small-4 columns">
            <a class="button success" ng-click="generateVoucherReport()">Generate <i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <label class="text-center middle"></label>
        </div>
    </div>
</section>
<script src="js/vendor/what-input.js"></script>
<script src="js/vendor/foundation.min.js"></script>
<script src="js/evey-1.0.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script type="text/javascript">
    $(document).foundation();

    $(document).ready(function(){

    }).on("click",".add-summary-nav-next",function(){
        window.location.href = evey.getHome()+"/budgetfy/reports/create-disbursement";
    }).on("click", "#cash-disbursement",function(){
        var fromDate = $("#from-date").val();
        var toDate = $("#to-date").val();
    });
</script>

</body>
</html>

