<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>

    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/jquery.bonsai.css"/>
    <link rel="stylesheet" href="css/selectize.default.css">
    <link rel="stylesheet" href="css/toastr.css"/>

    <script src="js/jquery3.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/selectize.min.js"></script>
    <script src="js/angular-selectize.js"></script>
    <script src="angular/budgetfy-angular.js"></script>
    <script src="angular/dirPagination.js"></script>
    <script src="angular/ngStorage.min.js"></script>
    <script src="js/toastr.js"></script>
</head>
<body>
<section id="header">
    <div class="row">
        <div class="small-6 columns text-left">
            <a class="button" href="/budgetfy/overview">Overview</a>
            <a class="button" href="/budgetfy/program">Programs</a>
            <a class="button" href="/budgetfy/expense">Expense</a>
            <a class="button" href="/budgetfy/reports">Reports</a>
        </div>
        <div class="small-6 columns text-right">
            <a class="button active-page" href="/budgetfy/system-maintenance"><i class="fa fa-cog"></i></a>
            <a class="button"><i class="fa fa-exclamation"></i></a>
            <a class="button" data-toggle="user-dropdown"><i class="fa fa-user"></i></a>
            <div class="dropdown-pane bottom" id="user-dropdown" data-dropdown data-close-on-click="true" data-auto-focus="true">
                <label class="text-left"><strong>Logged In:</strong></label>
                <label class="text-center middle">USER1</label>
                <a href="/budgetfy/logout" class="button alert text-left">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</section>

<section id="site-content-sys-maintenance" ng-app="budgetfyApp">
    <div id="view-sys-main" class="row collapse">
        <div class="small-2 columns">
            <ul class="tabs vertical" id="sys-main-tabs" data-tabs>
                <li class="tabs-title is-active"><a class="button" href="#users" aria-selected="true"><strong><i class="fa fa-user"></i> Users</strong></a></li>
                <li class="tabs-title"><a class="button" href="#user-roles"><strong><i class="fa fa-users"></i> User Roles</strong></a></li>
                <li class="tabs-title"><a class="button" href="#reference-look-up"><strong><i class="fa fa-book" aria-hidden="true"></i> Reference Lookup</strong></a></li>
            </ul>
        </div>
        <div class="small-10 columns">
            <div class="tabs-content" data-tabs-content="sys-main-tabs">
                <!-- Users -->
                <div class="tabs-panel is-active" id="users" ng-controller="userController" ng-init="loadInitData()">
                    <div id="user-main">
                        <div class="row">
                            <div class="small-5 columns text-left">
                                <a class="button success create-user-btn">Create User <i class="fa fa-plus"></i></a>
                            </div>
                            <div class="small-2 columns text-right">
                                <label class="text-right middle"></label>
                            </div>
                            <div class="small-5 columns text-right">
                                <div class="input-group">
                                    <input class="input-group-field" type="text" ng-model="userFilter">
                                    <div class="input-group-button">
                                        <input type="submit" class="button" value="Search">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 columns">
                                <table class="hover">
                                    <thead>
                                    <tr>
                                        <th>Last Name</th>
                                        <th>First Name</th>
                                        <th>Role</th>
                                        <th>Username</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr dir-paginate="user in userList | filter : userFilter | itemsPerPage: userMaxSize" pagination-id="user-list">
                                        <td ng-click="viewUser(user.id)">{{user.lastName}}</td>
                                        <td ng-click="viewUser(user.id)">{{user.firstName}}</td>
                                        <!--<td ng-click="viewUser(user.id)">{{user.middleName}}</td>-->
                                        <td></td>
                                        <td ng-click="viewUser(user.id)">{{user.username}}</td>
                                        <td>
                                            <a class="button alert"><i class="fa fa-minus"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                            <dir-pagination-controls pagination-id="user-list" boundary-links="true"></dir-pagination-controls>
                        </ul>
                    </div>
                    <div id="user-create" class="hide">
                        <div class="row">
                            <div class="small-5 columns">
                                <h4 class="middle">Create User</h4>
                            </div>
                            <div class="small-7 columns">
                                <label class="text-right middle"></label>
                            </div>
                        </div>
                        <form data-abide novalidate id="create-user-form">
                            <div data-abide-error class="alert callout" style="display: none;">
                                <p><i class="fi-alert"></i> There are some errors in your form.</p>
                            </div>
                            <div class="row">
                                <div class="small-5 columns">
                                    <label>First Name
                                        <input type="text" placeholder="First Name" class="clear-after" ng-model="createUser.firstName" required>
                                        <span class="form-error">
                                          Yo, you had better fill this out, it's required.
                                        </span>
                                    </label>
                                </div>
                                <div class="small-2 columns">
                                    <label>Middle Name
                                        <input type="text" placeholder="Middle Name" class="clear-after" ng-model="createUser.middleName">
                                        <span class="form-error">
                                          Yo, you had better fill this out, it's required.
                                        </span>
                                    </label>
                                </div>
                                <div class="small-5 columns">
                                    <label>Last Name
                                        <input type="text" placeholder="Last Name" class="clear-after" ng-model="createUser.lastName" required>
                                        <span class="form-error">
                                          Yo, you had better fill this out, it's required.
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-5 columns">
                                    <label>Username
                                        <input type="text" placeholder="Username" class="clear-after" ng-model="createUser.username" required>
                                        <span class="form-error">
                                          Yo, you had better fill this out, it's required.
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-5 columns">
                                    <label>Password
                                        <input type="password" placeholder="Password" class="clear-after" ng-model="createUser.newPassword" required id="pass">
                                        <span class="form-error">
                                            Yo, you had better fill this out, it's required.
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-5 columns">
                                    <label>Confirm Password
                                        <input type="password" placeholder="Confirm Password" class="clear-after" ng-model="createUser.confirmPassword" required data-equalto="pass">
                                        <span class="form-error">
                                          Hey, passwords are supposed to match!
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-5 columns">
                                    <label>Roles
                                        <selectize config='userRoleConfig' options='userRoleList' ng-model="createUser.userRole" ng-required="true"></selectize>
                                    </label>
                                    <span class="form-error">
                                          Yo, you had better fill this out, it's required.
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-3 columns">
                                    <a class="button alert expanded cancel-btn">Cancel</a>
                                </div>
                                <div class="small-3 columns">
                                    <button type="submit" id="create-user-btn" class="button success expanded">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="user-update" class="hide">
                        <div class="row">
                            <div class="small-5 columns">
                                <h4 class="middle">Update User</h4>
                            </div>
                            <div class="small-7 columns">
                                <label class="text-right middle"></label>
                            </div>
                        </div>
                        <form data-abide novalidate id="update-user-form">
                            <div data-abide-error class="alert callout" style="display: none;">
                                <p><i class="fi-alert"></i> There are some errors in your form.</p>
                            </div>
                            <div class="row">
                                <div class="small-5 columns">
                                    <label>First Name
                                        <input type="text" placeholder="First Name" ng-model="selectedUser.firstName" required>
                                        <span class="form-error">
                                          Yo, you had better fill this out, it's required.
                                        </span>
                                    </label>
                                </div>
                                <div class="small-2 columns">
                                    <label>Middle Name
                                        <input type="text" placeholder="Middle Name" ng-model="selectedUser.middleName">
                                        <span class="form-error">
                                          Yo, you had better fill this out, it's required.
                                        </span>
                                    </label>
                                </div>
                                <div class="small-5 columns">
                                    <label>Last Name
                                        <input type="text" placeholder="Last Name" ng-model="selectedUser.lastName" required>
                                        <span class="form-error">
                                          Yo, you had better fill this out, it's required.
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-5 columns">
                                    <label>Username
                                        <input type="text" placeholder="Username" ng-model="selectedUser.username" required>
                                        <span class="form-error">
                                          Yo, you had better fill this out, it's required.
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-5 columns">
                                    <label>New Password
                                        <input type="password" placeholder="Password" ng-model="selectedUser.newPassword" id="update-pass">
                                        <span class="form-error">
                                          Yo, you had better fill this out, it's required.
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-5 columns">
                                    <label>Confirm Password
                                        <input type="password" placeholder="Confirm Password" ng-model="selectedUser.confirmPassword" data-equalto="update-pass">
                                        <span class="form-error">
                                          Hey, passwords are supposed to match!
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-5 columns">
                                    <label>Roles
                                        <selectize config='userRoleConfig' name="userRole" options='userRoleList' ng-model="selectedUser.userRoleList" ng-required="true"></selectize>
                                    </label>
                                </div>
                                <span class="form-error">
                                    Yo, you had better fill this out, it's required.
                                </span>
                            </div>
                            <div class="row">
                                <div class="small-3 columns">
                                    <a class="button alert expanded cancel-btn">Cancel</a>
                                </div>
                                <div class="small-3 columns">
                                    <button type="submit" class="button success expanded" ng-click="updateUser()">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- User Roles -->
                <div class="tabs-panel" id="user-roles" ng-controller="userRoleController" ng-init="loadInitData()">
                    <div id="user-role-main">
                        <div class="row">
                            <div class="small-5 columns text-left">
                                <a class="button success" id="create-user-role-btn">Create User Role <i class="fa fa-plus"></i></a>
                            </div>
                            <div class="small-5 columns text-right">
                                <div class="input-group">
                                    <input class="input-group-field" type="text" ng-model="userRoleFilter">
                                    <div class="input-group-button">
                                        <input type="submit" class="button" value="Search">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 columns">
                                <table class="hover">
                                    <thead>
                                    <tr>
                                        <th>User Role</th>
                                        <th>Description</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr dir-paginate="userRole in userRoleList | filter : userRoleFilter | itemsPerPage: userRoleMaxSize" pagination-id="user-role-list">
                                        <td ng-click="viewUserRole(userRole.id)">{{userRole.roleName}}</td>
                                        <td ng-click="viewUserRole(userRole.id)">{{userRole.description}}</td>
                                        <td><a class="button alert"><i class="fa fa-minus"></i></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                                <dir-pagination-controls pagination-id="user-role-list" boundary-links="true"></dir-pagination-controls>
                            </ul>
                        </div>
                    </div>
                    <div id="user-role-create" class="hide">
                        <div class="row">
                            <div class="small-5 columns">
                                <h4 class="middle">Create User Role</h4>
                            </div>
                            <div class="small-7 columns">
                                <label class="text-right middle"></label>
                            </div>
                        </div>
                        <form data-abide novalidate id="create-user-role-form">
                            <div data-abide-error class="alert callout" style="display: none;">
                                <p><i class="fi-alert"></i> There are some errors in your form.</p>
                            </div>
                            <div class="row">
                                <div class="small-12 columns">
                                    <label>Role Name
                                        <input type="text" placeholder="Role Name" ng-model="createUserRole.roleName" required>
                                        <span class="form-error">
                                          Yo, you had better fill this out, it's required.
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 columns">
                                    <label>Role Description
                                        <input type="text" placeholder="Description" ng-model="createUserRole.description">
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 columns">
                                    <ul id="role-tree" class="level-1">
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-3 columns">
                                    <a class="button alert expanded cancel-user-role-btn">Cancel</a>
                                </div>
                                <div class="small-3 columns">
                                    <button type="submit" class="button success expanded">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="user-role-update" class="hide">
                        <div class="row">
                            <div class="small-5 columns">
                                <h4 class="middle">Update User Role</h4>
                            </div>
                            <div class="small-7 columns">
                                <label class="text-right middle"></label>
                            </div>
                        </div>
                        <form data-abide novalidate id="update-user-role-form">
                            <div data-abide-error class="alert callout" style="display: none;">
                                <p><i class="fi-alert"></i> There are some errors in your form.</p>
                            </div>
                            <div class="row">
                                <div class="small-12 columns">
                                    <label>Role Name
                                        <input type="text" placeholder="Role Name" ng-model="selectedUserRole.roleName" required>
                                        <span class="form-error">
                                          Yo, you had better fill this out, it's required.
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 columns">
                                    <label>Role Description
                                        <input type="text" placeholder="Description" ng-model="selectedUserRole.description">
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 columns">
                                    <ul id="role-tree-update" class="level-1">
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-3 columns">
                                    <a class="button alert expanded cancel-user-role-btn">Cancel</a>
                                </div>
                                <div class="small-3 columns">
                                    <button type="submit" class="button success expanded">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Reference Lookup -->
                <div class="tabs-panel" id="reference-look-up" ng-controller="referenceLookUpController" ng-init="loadInitData()">
                    <div id="reference-look-up-main">
                        <div class="row">
                            <div class="small-5 columns text-left">
                                <a class="button success" id="create-reference-btn">Create Reference <i class="fa fa-plus"></i></a>
                            </div>
                            <div class="small-2 columns text-right">
                                <label class="text-right middle"></label>
                            </div>
                            <div class="small-5 columns text-right">
                                <div class="input-group">
                                    <input class="input-group-field" type="text" ng-model="referenceFilter">
                                    <div class="input-group-button">
                                        <input type="submit" class="button" value="Search">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 columns">
                                <table id="programs-result" class="hover">
                                    <thead>
                                    <tr>
                                        <th>Category</th>
                                        <th>Key</th>
                                        <th>Value</th>
                                        <th>Number Value</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr dir-paginate="reference in referenceLookUpList | filter : referenceFilter | itemsPerPage: referenceLookUpMaxSize" pagination-id="reference-list">
                                        <td ng-click="viewReference(reference.id)">{{reference.category}}</td>
                                        <td ng-click="viewReference(reference.id)">{{reference.key}}</td>
                                        <td ng-click="viewReference(reference.id)">{{reference.value}}</td>
                                        <td ng-click="viewReference(reference.id)">{{reference.numberValue}}</td>
                                        <td ng-click="deleteReference(reference.id)"><a class="button alert"><i class="fa fa-minus"></i></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                            <dir-pagination-controls pagination-id="reference-list" boundary-links="true"></dir-pagination-controls>
                        </ul>
                    </div>
                    <div id="reference-look-up-create" class="hide">
                        <div class="row">
                            <div class="small-5 columns">
                                <h4 class="middle">Create Reference Lookup</h4>
                            </div>
                            <div class="small-7 columns">
                                <label class="text-right middle"></label>
                            </div>
                        </div>
                        <form data-abide novalidate id="create-reference-form">
                            <div data-abide-error class="alert callout" style="display: none;">
                                <p><i class="fi-alert"></i> There are some errors in your form.</p>
                            </div>
                            <div class="row">
                                <div class="small-12 columns">
                                    <label>Category
                                        <select name="category" ng-model="createReference.category">
                                            <option  ng-repeat="value in categoryList" value="{{value}}">{{value}}</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 columns">
                                    <label>Key
                                        <input type="text" placeholder="Key" ng-model="createReference.key" required></label>
                                        <span class="form-error">
                                          Yo, you had better fill this out, it's required.
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 columns">
                                    <label>Value
                                        <input type="text" placeholder="Key" ng-model="createReference.value" required></label>
                                        <span class="form-error">
                                          Yo, you had better fill this out, it's required.
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 columns">
                                    <label>Number Value
                                        <input type="number" placeholder="Number Value" ng-model="createReference.numberValue"></label>
                                        <span class="form-error">
                                          Yo, you had better fill this out, it's required.
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-3 columns">
                                    <a class="button alert expanded cancel-ref-btn">Cancel</a>
                                </div>
                                <div class="small-3 columns">
                                    <button type="submit" class="button success expanded">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="reference-look-up-update" class="hide">
                        <div class="row">
                            <div class="small-5 columns">
                                <h4 class="middle">Update Reference Lookup</h4>
                            </div>
                        </div>
                        <form data-abide novalidate id="update-reference-form">
                            <div data-abide-error class="alert callout" style="display: none;">
                                <p><i class="fi-alert"></i> There are some errors in your form.</p>
                            </div>
                            <div class="row">
                                <div class="small-12 columns">
                                    <label>Category
                                        <select name="category" ng-model="selectedReference.category">
                                            <option  ng-repeat="value in categoryList" value="{{value}}">{{value}}</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 columns">
                                    <label>Key
                                        <input type="text" placeholder="Key" ng-model="selectedReference.key" required></label>
                                        <span class="form-error">
                                          Yo, you had better fill this out, it's required.
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 columns">
                                    <label>Value
                                        <input type="text" placeholder="Key" ng-model="selectedReference.value" required></label>
                                        <span class="form-error">
                                          Yo, you had better fill this out, it's required.
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 columns">
                                    <label>Number Value
                                        <input type="number" placeholder="Number Value" ng-model="selectedReference.numberValue"></label>
                                        <span class="form-error">
                                          Yo, you had better fill this out, it's required.
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-3 columns">
                                    <a class="button alert expanded cancel-ref-btn">Cancel</a>
                                </div>
                                <div class="small-3 columns">
                                    <button type="submit" class="button success expanded">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<footer>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.min.js"></script>
    <script src="js/evey-1.0.js"></script>
    <script src="js/jquery.bonsai.js"></script>
    <script src="js/jquery.qubit.js"></script>
    <script>
        $(document).foundation();

        $(document).ready(function(){
            $('#role-tree-update').bonsai({
                expandAll: false,
                checkboxes: false, // depends on jquery.qubit plugin
                createInputs: 'checkbox', // takes values from data-name and data-value, and data-name is inherited
            });
            $('#role-tree').bonsai({
                expandAll: false,
                checkboxes: false, // depends on jquery.qubit plugin
                createInputs: 'checkbox', // takes values from data-name and data-value, and data-name is inherited
            });
        }).on("click",".create-user-btn",function(){
            $("#user-main").addClass("hide");
            $("#user-create").removeClass("hide");
        }).on("click",".cancel-btn",function(){
            $("#user-main").removeClass("hide");
            $("#user-create").addClass("hide");
            $("#user-view").addClass("hide");
            $("#user-update").addClass("hide");
        }).on("click",".row-onclick",function(){
            $("#user-view").removeClass("hide");
            $("#user-main").addClass("hide");
        }).on("click",".update-btn",function(){
            $("#user-update").removeClass("hide");
            $("#user-main").addClass("hide");
            $("#user-view").addClass("hide");
        }).on("click","a#create-reference-btn", function(){
            $("div#reference-look-up-main").addClass("hide");
            $("div#reference-look-up-create").removeClass("hide");
        }).on("click", ".cancel-ref-btn", function(){
            $("div#reference-look-up-main").removeClass("hide");
            $("div#reference-look-up-create").addClass("hide");
            $("div#reference-look-up-update").addClass("hide");
        }).on("click", "#create-user-role-btn", function(){
            $("#user-role-main").addClass("hide");
            $("#user-role-create").removeClass("hide");
        }).on("click", ".cancel-user-role-btn", function(){
            $("#user-role-main").removeClass("hide");
            $("#user-role-create").addClass("hide");
            $("#user-role-update").addClass("hide");
        });
    </script>
</footer>
</html>